# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# PyInstaller builds
build/
dist/
*.spec

# Inno Setup outputs
InnoSetup/Outputs/

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo